{#
  Copyright (C) 2013  Matthieu Caneill, Stefano Zacchiroli
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block breadcrumbs %}about{% endblock %}

{% block content %}

<h2>{{ self.title() }}</h2>


<h3>Development</h3>

<ul>
  <li><strong>source code</strong> is available
    using <a href="http://git-scm.com/">Git</a>:
    <tt>git clone git://anonscm.debian.org/qa/debsources.git</tt> and
    browsable <a href="{{ config.GITWEB_URL }}">on the Web</a>
  </li>

  <li>please report <strong>bugs</strong> to
    the <a href="https://bugs.debian.org/cgi-bin/pkgreport.cgi?pkg=qa.debian.org;tag=debsources">Debian
    Bug Tracking System</a> (short
    URL: <a href="http://deb.li/debsrcbugs"><tt>http://deb.li/debsrcbugs</tt></a>),
    against the
    <code>qa.debian.org</code> pseudo-package, using a subject line that begins
    with "debsources:".  <br /> If you use the standard
    Debian <code>reportbug</code> tool, please use the command
    line: <tt>reportbug -P "User: qa.debian.org@packages.debian.org" -P
    "Usertags: debsources" qa.debian.org</tt>
  </li>

  <li>for discussions about Debsources please <strong>contact</strong> the
    <a href="https://lists.debian.org/debian-qa/">debian-qa mailing list</a> or
    the <code>#debian-qa</code> IRC channel
    on <a href="http://www.oftc.net/">OFTC</a>
  </li>

  <li>opportunities for new contributors (AKA <strong>easy hacks</strong>)
    are <a href="https://bugs.debian.org/cgi-bin/pkgreport.cgi?package=qa.debian.org;include=subject:debsources;users=debian-qa@lists.debian.org;tag=gift">available</a>
    as well (short URL:
    <a href="http://deb.li/debsrceasy"><tt>http://deb.li/debsrceasy</tt></a>)
  </li>

</ul>


<h3>Acknowledgements</h3>

<ul>
  <li>all Debsources
    <a href="https://anonscm.debian.org/gitweb/?p=qa/debsources.git;a=blob;f=AUTHORS;hb=HEAD"><b>contributors</b></a>
    for their work</li>
  <li><a href="https://www.irill.org"><img style="vertical-align: middle;"
         src="{{ url_for('static', filename='img/irill.png') }}" alt="IRILL" /></a>
    for sponsoring the initial development of Debsources, and offering both
    server and hosting facilities that power
    <a href="//{{config.DOMAIN}}">{{ config.DOMAIN }}</a></li>
</ul>
<p><em>Thank you!</em></p>


{% endblock %}
