{#
  Copyright (C) 2013  Matthieu Caneill <matthieu.caneill@gmail.com>
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "base.html" %}
{% import "macros.inc.html" as macros %}

{% block title %}Search{% endblock %}

{% block breadcrumbs %}search{% endblock %}

{% block content %}

<!-- <h2>{{ self.title() }}</h2> -->


<div class="search-box">
<h3>Package search</h3>
<span class="description">search for a package and allow to browse through its
  source code</span>

<form action="{{ url_for('receive_search') }}" name="searchform"
      method="post">
  <table>
    <tr>
      <td><label for="input_package_package">package</label></td>
      <td><input type="text" name="query" id="input_package_package" /></td>
    </tr>
    <tr>
      <td><lable for="filer_by_suite">filter by suite</label></td>
      <td>
        <select id="suites_list" name="suite">
            <option value="all" selected>all</option>
            {%- for suite in suites_list %}
              <option value="{{suite}}">{{suite}}</option>
            {%- endfor %}
        </select>
      </td>
    </tr>
  </table>
  <input type="submit" value="Search package" />
</form>
</div>


<div class="search-box">
<h3>File search</h3>
<span class="description">search for a specific source code file and display
  it</span>

<h4>by SHA256 hash</h4>

<form name="shasearch" method="get"
      action="{{ url_for('checksum_html') }}">
  <table>
    <tr>
      <td><label for="input_checksum">sha256</label></td>
      <td><input type="text" id="input_checksum" name="checksum" /></td>
    </tr>
    <tr>
      <td><label for="input_package_file">within
	  package <small>(optional)</small></label></td>
      <td><input type="text" name="package" id="input_package_file" /></td>
    </tr>
  </table>
  <input type="submit" value="Search files" />
</form>

<!--
<h4>by ctags</h4>

<form name="ctagssearch" method="get" action=".">
  <input type="text" name="ctags" id="submit_ctags" />
  <label for="submit_ctags">ctags (tag conjunctions allowed,
  semicolon-separated)</label>
  <br />
  <input type="text" name="package" id="input_package_ctags" />
  <label for="input_package_ctags">package</label>
  <br />
  <input type="submit" value="Search files" />
</form>
-->
</div>


<div class="search-box">
<h3>Code search</h3>
<span class="description">search all available source code for occurrences of
  specific features (regex matches, identifiers, etc.)</span>

<h4>via <a href="https://codesearch.debian.net/">Debian code search</a></h4>
<form name="codesearch" method="get"
      action="https://codesearch.debian.net/search">
  <table>
    <tr>
      <td><label for="input_codesearch">regular expression</label></td>
      <td><input name="q" type="text" size="64" id="input_codesearch" /></td>
    </tr>
  </table>
  <input type="submit" value="Search regex" />
</form>

<h4>by <a href="http://ctags.sourceforge.net">ctags</a></h4>
<form name="tagsearch" method="get" action="{{ url_for('ctag_html') }}">
  <table>
    <tr>
      <td><label for="input_tag">tag</label></td>
      <td><input type="text" name="ctag" id="input_tag" /></td>
    </tr>
    <tr>
      <td><label for="input_package_sourcecode">within
	  package <small>(optional)</small></label></td>
      <td><input type="text" name="package" id="input_package_sourcecode" /></td>
    </tr>
  </table>
  <input type="submit" value="Search tags" />
</form>
</div>


{% endblock %}
