{#
  Copyright (C) 2013  Stefano Zacchiroli <zack@upsilon.cc>
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "base.html" %}
{% import "macros.inc.html" as macros %}

{% block title %}Documentation{% endblock %}

{% block breadcrumbs %}doc{% endblock %}

{% block content %}

<h2>{{ self.title() }}</h2>

<ul>
<li><a href="{{ url_for('doc_overview') }}">Overview</a></li>
<li><a href="{{ url_for('doc_url') }}">URL scheme</a></li>
<li><a href="{{ url_for('doc_api') }}">API documentation</a></li>
<li><a href="{{ url_for('static', filename='db-schema/index.html') }}">Database schema</a></li>
</ul>


<h3>Publications</h3>

Debsources has been featured in the following scientific papers:

<ul>

<li>Matthieu Caneill, Stefano Zacchiroli. <em>Debsources: Live and Historical
  Views on Macro-Level Software Evolution</em>.<br />  In proceedings
  of <a href="http://softeng.polito.it/ESEIW2014/ESEM/">ESEM 2014</a>: 8th
  International Symposium on Empirical Software Engineering and
  Measurement. September 18-19, 2014 - Torino, Italy.<br />
  <small>ISBN <a href="https://dl.acm.org/citation.cfm?doid=2652524.2652528">978-1-4503-2774-9</a>,
  ACM 2014.
  DOI <a href="https://dx.doi.org/10.1145/2652524.2652528">10.1145/2652524.2652528</a></small>
  <br />
  <a href="https://upsilon.cc/~zack/research/publications/debsources-esem-2014.pdf">.pdf</a>,
  <a href="https://upsilon.cc/~zack/research/publications/debsources-esem-2014.bib">.bib</a>
  <br /> If you use Debsources or its dataset for research purposes, we would
  appreciate you cite the above paper.
</li>

</ul>


{% endblock %}
