{#
  Copyright (C) 2013  Matthieu Caneill <matthieu.caneill@gmail.com>
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "base.html" %}

{% block head %}
{{ super() }}
<style>
  .url{display: block; /*margin-left: 50px;*/}
</style>
{% endblock %}

{% block title %}URL scheme{% endblock %}

{% block breadcrumbs %}<a href="{{ url_for('doc') }}">doc</a> / url scheme{% endblock %}

{% block content %}
{% set url_prefix = "//" + config.DOMAIN %}

<h2>{{ self.title() }}</h2>

<h3>Search</h3>

<h4>Package search</h4>
<p>
  You can simply point a package search query with the following URL:
  <span class="url">{{ url_prefix
    }}/search/<strong>query</strong></span>
  <a href="{{ url_prefix }}/search/hello">See example</a>
</p>
<p>
  A suite parameter can be given to limit search to a given suite.
  <span class="url">{{ url_prefix
    }}/search/<strong>query?suite=suite_name</strong></span>
  <a href="{{ url_prefix }}/search/hello?suite=squeeze">See example</a>
</p>

<h4>File search</h4>
<p>
  The URL for a SHAsum search is:
  <span class="url">{{ url_prefix
  }}/sha256/?checksum=<strong>sha256</strong>&package=<strong>packagename</strong></span>
  Specifying a package name is optional.
</p>

<h4>Code search</h4>
<p>
  You can search within the code
  through <a href="http://ctags.sourceforge.net">tags</a>.
  <span class="url">{{ url_prefix
  }}/ctag/?ctag=<strong>tag</strong>&package=<strong>packagename</strong></span>
  Specifying a package name is optional.
</p>

<h3>Package list</h3>

<h4>Alphabetically</h4>

<p>
  <span class="url">{{ url_prefix }}/list/<strong>INT</strong></span>
  <a href="{{ url_prefix }}/list/8">See example</a>
</p>

<h4>By prefix</h4>

<p>
  <span class="url">{{ url_prefix
    }}/prefix/<strong>prefix</strong></span>
  <a href="{{ url_prefix }}/prefix/libz">See example</a>
</p>
<p>
  A suite parameter can be given to limit listing to a given suite.
  <span class="url">{{ url_prefix
    }}/prefix/<strong>prefix?suite=suite_name</strong></span>
  <a href="{{ url_prefix }}/prefix/libz?suite=squeeze">See example</a>
</p>

<h3>Package versions</h3>

<p>
  You can list the different versions of a package, accessing this URL:
  <span class="url">{{ url_prefix
    }}/src/<strong>packagename</strong></span>
  <a href="{{ url_prefix }}/src/ocaml">See example</a>
</p>

<p>
  a suite parameter can be given to limit listing to a given suite.
  <span class="url">{{ url_prefix
    }}/src/<strong>packagename?suite=suite_name</strong></span>
  <a href="{{ url_prefix }}/src/ocaml?suite=squeeze">See example</a>
</p>


<h3>Navigation within a package</h3>

<p>
  You can list the files in a package or in a particular folder of a
  package, accessing one of these URLs:
  <span class="url">{{ url_prefix
    }}/src/<strong>packagename</strong>/<strong>version</strong></span>
  or:
  <span class="url">{{ url_prefix
    }}/api/src/<strong>packagename</strong>/latest</span>
  to use automatically the latest available version of the package.
  <br />
  <a href="{{ url_prefix }}/src/cowsay/3.03%2Bdfsg1-4">See example</a>
</p>

<p>
  <span class="url">{{ url_prefix
    }}/src/<strong>packagename</strong>/<strong>version</strong>/<strong>path/to/dir</strong></span>
  <a href="{{ url_prefix }}/src/cowsay/3.03%2Bdfsg1-4/cows">See
  example</a>
</p>

<h3>Source code displaying</h3>

<p>
  To simply display a source file:
  <span class="url">{{ url_prefix
    }}/src/<strong>packagename</strong>/<strong>version</strong>/<strong>path/to/file</strong></span>
  <a href="{{ url_prefix }}/src/cowsay/3.03%2Bdfsg1-4/cowsay">See example</a>
</p>
<p>
  If recognized as a text file, the source file will be syntax highlighted,
  automatically detecting the relevant language. Files not recognized as text
  files will be offered for download. It is possible to override the detected
  language appending <tt>?lang=<em>LANGUAGE</em></tt> to the source file
  URL; <tt><em>LANGUAGE</em></tt> should be one of
  the <a href="http://highlightjs.readthedocs.org/en/latest/css-classes-reference.html">languages
  supported by highlight.js</a> (use one of the double-quoted strings in
  parentheses). <tt>?lang=none</tt> can be used to force displaying a file (as
  opposed to downloading it) without any syntax highlighting.
</p>

<p>
  To point a specific line in a source file:
  <span class="url">{{ url_prefix
    }}/src/<strong>packagename</strong>/<strong>version</strong>/<strong>path/to/file</strong>#L<strong>INT</strong></span>
  <a href="{{ url_prefix }}/src/cowsay/3.03%2Bdfsg1-4/cowsay#L37">See example</a>
</p>

<p>
  If you want to embed a source code file in e.g. an iframe, use:
  <span class="url">{{ url_prefix
  }}/embed/file/<strong>packagename</strong>/<strong>version</strong>/<strong>path/to/file</strong>#L<strong>INT</strong></span>
</p>

<p>
  To use with options:
  <span class="url">{{ url_prefix
  }}/src/<strong>packagename</strong>/<strong>version</strong>/<strong>path/to/file</strong>?<strong>opt1</strong>=<strong>val1</strong>&amp;<strong>opt2</strong>=<strong>val2</strong>[...]#L<strong>INT</strong></span>
</p>

<h4>Available options</h4>
<ul>
  <li><strong>hl=1:5,10,13:16</strong> -- highlights the lines: 1 to 5, 10, 13 to 16</li>
  <li><strong>msg=5:title:message</strong> -- adds a popup message near line 5 (the title cannot contain the ':' symbol)</li>
</ul>

<p>
  <a href="{{ url_prefix }}/src/cowsay/3.03%2Bdfsg1-4/cowsay?hl=22:28&amp;msg=22:Cowsay:See?%20Cowsay%20variables%20are%20declared%20here.#L22">See complete example</a>
</p>

<h3>Infobox</h3>
<p>You can embed an infobox about a particular version of a package
  (the same infobox which appears when you browse a package) using:
  <span class="url">{{ url_prefix
  }}/embed/pkginfo/<strong>packagename</strong>/<strong>version</strong></span>
</p>

{% endblock %}
