{#
  Copyright (C) 2013  Matthieu Caneill <matthieu.caneill@gmail.com>
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "base.html" %}

{% block head %}
{{ super() }}
<style>
  .url{display: block; /*margin-left: 50px;*/}
</style>
{% endblock %}

{% block title %}API documentation{% endblock %}

{% block breadcrumbs %}<a href="{{ url_for('doc') }}">doc</a> / api{% endblock %}

{% block content %}
{% set url_prefix = "//" + config.DOMAIN %}

<h2>{{ self.title() }}</h2>

<div class="warning">
  This API is not stable yet and, as such, has no associated version number.
  For the time being use this API at your own risk and keep an eye on this page
  for changes.
</div>

<p>You can query all information available in Debian Sources, and get a JSON
  object which allows you to navigate packages and source files
  programmaticaly.<br /> The JSON result will be pretty-printed, unless the
  <tt>X-Requested-With</tt> HTTP header is set to <tt>XmlHttpRequest</tt>.</p>

<p>Note: wherever a specific <em>version number</em> is required, you can use
  the string "latest" instead to get redirected to the most recent version of
  the package.</p>

<h3>Search</h3>

<h4>Package search</h4>
<p>
  By accessing the following URL:
  <span class="url">{{ url_prefix }}/api/search/<strong>query</strong></span>
  <a href="{{ url_prefix }}/api/search/hello">example</a>
</p>

<h4>File search</h4>
<p>
  You can search files by SHA-256 sum:
  <span class="url">{{ url_prefix }}/api/sha256/?checksum=<strong>sha256</strong>&package=<strong>packagename</strong></span>
  Specifying a package name is optional.
  <br/>
  <a href="{{ url_prefix }}/api/sha256/?checksum=d77d235e41d54594865151f4751e835c5a82322b0e87ace266567c3391a4b912">example</a>

<h4>Code search</h4>
<p>
  You can search within the code
  through <a href="http://ctags.sourceforge.net">tags</a>.
  <span class="url">{{ url_prefix }}/api/ctag/?ctag=<strong>tag</strong>&package=<strong>packagename</strong></span>
  Specifying a package name is optional.
  <br />
  <a href="{{ url_prefix }}/api/ctag/?ctag=pcre_compile&package=pcre3">example</a>

</p>


<h3>Package list</h3>

<h4>All packages</h4>

<p>
  <span class="url">{{ url_prefix }}/api/list</span>
  <a href="{{ url_prefix }}/api/list">example</a>
</p>

<h4>By prefix</h4>

<p>
  <span class="url">{{ url_prefix
    }}/api/prefix/<strong>prefix</strong></span>
  <a href="{{ url_prefix }}/api/prefix/libz">example</a>
</p>

<h3>Package information</h3>

<p>
  List different versions of a package:
  <span class="url">{{ url_prefix
    }}/api/src/<strong>packagename</strong></span>
  <a href="{{ url_prefix }}/api/src/ocaml">example</a>
</p>

<p>
  Package information, including metrics, suites where is present, PTS link, and the like:
  <span class="url">{{ url_prefix
    }}/api/info/package/<strong>packagename</strong>/<strong>version</strong></span>
  <a href="{{ url_prefix }}/api/info/package/davfs2/1.5.2-1/">example</a>
</p>

<h3>Navigation in source folders and files</h3>

<p>
  List folders and files in a folder:
  <span class="url">{{ url_prefix
    }}/api/src/<strong>packagename</strong>/<strong>version</strong>/<strong>path/to/folder</strong></span>
<a href="{{ url_prefix }}/api/src/cowsay/3.03%2Bdfsg1-4/cows">example</a>
</p>

<p>
  Get information about a file (including the raw_url of the file, which
  allows you to retrieve its content):
  <span class="url">{{ url_prefix
    }}/api/src/<strong>packagename</strong>/<strong>version</strong>/<strong>path/to/file</strong></span>
  <a href="{{ url_prefix }}/api/src/cowsay/3.03%2Bdfsg1-4/cowsay">example</a>
</p>

<h3>Check the service status</h3>

<p>
  Check service status and retrieve last update timestamp:
  <span class="url">{{ url_prefix }}/api/ping/</span>
  <a href="{{ url_prefix }}/api/ping">example</a>
</p>

{% endblock %}
