{% import "macros.inc.html" as macros %}

<p style="margin: 0 0 0 0; line-height: 1em;">
  Browse by prefix: &ensp;
  {{ macros.render_packages_prefixes(packages_prefixes) }}
  &ensp; | &ensp;
  Browse <a href="{{ url_for('listpackages_html', page=1) }}">by page</a>
</p>
<hr />
<div style="position: relative">
{% if credits -%}
<div style="position: absolute; right: 0">
{{ credits|safe }}
</div>
{% endif %}
<p>
  Debsources &mdash; Copyright (C) 2011&ndash;2015 Matthieu Caneill, Stefano
  Zacchiroli, and
  <a href="{{ config.GITWEB_URL }};a=blob;f=AUTHORS;hb=HEAD">contributors</a>.
  License:
  <a href="https://www.gnu.org/licenses/agpl.html">GNU AGPLv3</a>.
  <br />
  Hosted source files are available under their own
  <a href="https://www.debian.org/doc/debian-policy/ch-source.html#s-dpkgcopyright">copyright
  and licenses</a>.
  <br />
  Source code: <a href="{{ config.GITWEB_URL }}">Git</a>.
  Contact: <a href="mailto:info@{{ config.DOMAIN }}">info@{{ config.DOMAIN }}</a>.
  Last update: {{ last_update }}.
</p>
</div>
