{#
  Copyright (C) 2013  Matthieu Caneill <matthieu.caneill@gmail.com>
  License: GNU Affero General Public License, version 3 or above.
#}

{# from
https://pythonhosted.org/Flask-SQLAlchemy/api.html#flask.ext.sqlalchemy.Pagination.iter_pages #}
{% macro render_pagination(pagination) -%}
  <div class=pagination>
  {% if pagination.has_prev %}
  <a href="{{ url_for_other_page(pagination.page - 1)
    }}">&laquo; Previous</a>
  {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class="ellipsis">…</span>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <a href="{{ url_for_other_page(pagination.page + 1)
      }}">Next &raquo;</a>
  {% endif %}
  </div>
{%- endmacro %}

{% macro searchform(form, display="block") -%}
  <form action="{{ url_for('receive_search') }}" name="searchform"
        method="post" style="display: {{ display }};">
      {{ form.query(**kwargs) }}
    {% for error in form.errors.query %}
      {% if display == "block" %}<br />{% endif %}
      <strong>{{ error }}</strong>
    {% endfor %}
    {% if display == "block" %}<br />{% endif %}
    <input type="submit" value="Search package" />
  </form>
{%- endmacro %}


{% macro render_packages_prefixes(prefixes) %}
  {%- for prefix in prefixes %}
    <a href="{{ url_for('prefix_html', prefix=prefix) }}">{{ prefix }}</a>
  {%- endfor %}
{% endmacro %}

{% macro listpackages(packages, suite) -%}
    <ul class="listcolumn">
      {% for package in packages %}
        {% if suite %}
          <li><a href="{{ url_for('source_html', path_to=package.name, suite=suite) }}">
              {{ package.name }}</a></li>
        {% else %}
          <li><a href="{{ url_for('source_html', path_to=package.name) }}">
              {{ package.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  <br style="clear: left" />
{%- endmacro %}

{% macro show_suite(suite) %}
  {%if suite %}
    <p id="suite_filter">In suite <em>{{ suite }}</em></p>
  {% endif %}
{% endmacro %}
