{#
  Copyright (C) 2013  Matthieu Caneill <matthieu.caneill@gmail.com>
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "base.html" %}
{% import "macros.inc.html" as macros %}

{% block title %}Search: {{ query }}{% endblock %}

{% block breadcrumbs %}search / {{ query }}{% endblock %}

{% block content %}
<h2>{{ self.title() }}</h2>
{{ macros.show_suite(suite) }}
<h3>Exact matches</h3>
{% if results.exact %}
  {{ macros.listpackages([results.exact], suite) }}
{% else %}
  None.
{% endif %}

<h3>Other results</h3>
{% if results.other[1] or (not results.exact and results.other[0]) %}
  {{ macros.listpackages(results.other, suite) }}
{% else %}
  None.
{% endif %}
{% endblock %}
