{#
  Copyright (C) 2013  Matthieu Caneill <matthieu.caneill@gmail.com>
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "source_base.html" %}

{% block head %}
  {{ super() }}

  <link rel="stylesheet"
        href="{{ config.HIGHLIGHT_JS_FOLDER }}/styles/{{ config.HIGHLIGHT_STYLE }}.css">
  <script src="{{ config.HIGHLIGHT_JS_FOLDER }}/highlight.min.js"></script>

  <script src="{{ url_for('static', filename='javascript/debsources.js') }}"></script>
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/source_file.css') }}" />

{% endblock %}

{% block title %}File: {{ file }}{% endblock %}

{% block source_content %}
<h2>{{ self.title() }}</h2>

{% if pkg_infos %}
{% import "infobox.inc.html" as infobox %}
{{ infobox.render_infobox(pathl[0][0], pathl[1][0], pkg_infos) }}
{% endif %}

{% include "source_file_code.inc.html" %}

<script type="text/javascript">
  debsources("{{ msg.position }}");
  hljs.highlightBlock(document.getElementById('sourcecode'))
</script>

{% endblock %}
